{% extends "_layouts/cp" %}

{% set title = "Plugin Sales"|t('plugin-sales') %}

{% do view.registerCssFile('https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css') %}
{% do view.registerJsFile('https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js',{
    depends: ['craft\\web\\assets\\cp\\CpAsset']
}) %}
{% do view.registerJsFile('https://cdn.jsdelivr.net/npm/apexcharts') %}


{% block content %}


    <table id="plugin-sales">
        <thead>
            <tr>
                <th>{{ 'Plugin'|t('plugin-sales') }}</th>
                <th>{{ 'Edition'|t('plugin-sales') }}</th>
                <th>{{ 'Type'|t('plugin-sales') }}</th>
                <th>{{ 'Customer'|t('plugin-sales') }}</th>
                <th>{{ 'Gross Amount'|t('plugin-sales') }}</th>
                <th>{{ 'Net Amount'|t('plugin-sales') }}</th>
                <th>{{ 'Date'|t('plugin-sales') }}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div style="max-width: 1200px;">
        <div id="chart1"></div>
        <div id="chart2"></div>
    </div>

{% endblock %}

{% js %}

    var sales = {{ craft.pluginSales.getCachedSales()|raw }};

    $('#plugin-sales').DataTable({
        data: sales
    });

    var options = {
      series: [{
        name: "Sales",
        data: {{ craft.pluginSales.getCachedAmounts()|raw }}
    }],
      chart: {
      height: 350,
      type: 'line',
      zoom: {
        enabled: false
      }
    },
    dataLabels: {
      enabled: false
    },
    stroke: {
      curve: 'straight'
    },
    title: {
      text: 'Value of Sales',
      align: 'left'
    },
    grid: {
      row: {
        colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
        opacity: 0.5
      },
    },
    xaxis: {
      categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
    }
    };

    var chart = new ApexCharts(document.querySelector("#chart1"), options);
    chart.render();

{% endjs %}
