{% extends "_layouts/cp" %}

{% set title = "Plugin Sales"|t('plugin-sales') %}

{% do view.registerAssetBundle('putyourlightson\\pluginsales\\assets\\ReportsAsset') %}

{% set start = craft.app.request.get('start') %}
{% set end = craft.app.request.get('end') %}
{% set months = craft.pluginSales.reports.getMonths(start, end) %}
{% set netAmount = craft.pluginSales.reports.getTotals(start, end).netAmount %}


{% block content %}

    <div class="flex" style="justify-content: space-between; align-items: flex-start;">
        <div>
            <p>
                {% if netAmount %}
                    {% if not start and not end %}
                        Congratulations, you’ve earned a total net profit of
                    {% else %}
                        You earned a net profit during this period of
                    {% endif %}
                    <strong id="total" data-value="{{ netAmount }}">${{ netAmount|number_format(2) }}</strong>
                {% else %}
                    {% if not start and not end %}
                        No earnings yet, keep on truckin!
                    {% else %}
                        No plugins sold during this period.
                    {% endif %}
                {% endif %}
            </p>
            <p class="light">
                {% set refreshDate = craft.pluginSales.getRefreshDate() %}
                {% if refreshDate %}
                    Plugin sales last refreshed on {{ refreshDate|datetime('long') }}
                {% else %}
                    Plugin sales not yet refreshed.
                {% endif %}
            </p>
            {% if netAmount and refreshDate and not craft.pluginSales.hasValidLicense() %}
                <p class="warning">
                    <strong>
                        Please support development of this plugin by buying a license<a href="{{ url('plugin-store/buy/plugin-sales/standard') }}" class="go"></a>
                    </strong>
                </p>
            {% endif %}
        </div>
        <div class="flex">
            <div class="spinner" style="display: none;"></div>
            <div id="daterange" data-icon="date" class="btn menubtn">
                <span></span>
            </div>
            <a href="{{ actionUrl('plugin-sales/sales/refresh') }}" id="refresh" class="btn">Refresh Sales</a>
            <a href="{{ actionUrl('plugin-sales/sales/export', {start: start, end: end}) }}" class="btn">Export to CSV</a>
        </div>
    </div>

    {% if netAmount %}
        {% include 'plugin-sales/_charts/monthly-totals' %}
        {% include 'plugin-sales/_charts/plugins-licenses-renewals' %}
        {% include 'plugin-sales/_charts/pie-charts' %}

        <div class="chart">
            <table id="plugin-sales" class="display responsive nowrap" style="width: 100%;">
                <thead>
                    <tr>
                        <th data-priority="1">{{ 'Plugin'|t('plugin-sales') }}</th>
                        <th>{{ 'Edition'|t('plugin-sales') }}</th>
                        <th>{{ 'Type'|t('plugin-sales') }}</th>
                        <th>{{ 'Customer'|t('plugin-sales') }}</th>
                        <th data-priority="2">{{ 'Gross Amount'|t('plugin-sales') }} ($)</th>
                        <th data-priority="3">{{ 'Net Amount'|t('plugin-sales') }} ($)</th>
                        <th data-priority="4">{{ 'Date'|t('plugin-sales') }}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}


{% js %}

    var currency = '{{ craft.pluginSales.getCurrency() }}';
    var rate = {{ craft.pluginSales.getExchangeRate() }};
    var palette = {{ craft.pluginSales.getColourPalette()|json_encode|raw }};

    {% set origin = '2018-04-01' %}
    var start = moment('{{ start ?? origin }}');
    var end = moment('{{ end ?? now|date('Y-m-d') }}');

    function isAllTime(start, end) {
        return start.isSame('{{ origin }}', 'day') && end.isSame(moment(), 'day');
    }

    function updateDaterange(start, end) {
        var range = start.format('D MMM YYYY') + ' - ' + end.format('D MMM YYYY');

        if (isAllTime(start, end)) {
            range = 'All Time';
        }

        $('#daterange span').html(range);
    }

    updateDaterange(start, end);

    $('#daterange').daterangepicker({
        opens: 'left',
        startDate: start,
        endDate: end,
        minDate: moment('{{ origin }}'),
        maxDate: moment(),
        ranges: {
           'All Time': [moment('{{ origin }}'), moment()],
            {% for i in range(now|date('Y'), 2018) %}
                ' {{ i }}': [moment('{{ i }}-01-01'), moment('{{ i }}-12-31')],
            {% endfor %}
        }
    }, updateDaterange);

    $('#daterange').on('apply.daterangepicker', function(ev, picker) {
        $('.spinner').show();

        var queryString = '?start=' + picker.startDate.format('YYYY-MM-DD') + '&end=' + picker.endDate.format('YYYY-MM-DD');

        if (isAllTime(picker.startDate, picker.endDate)) {
            queryString = '';
        }

        location = location.pathname + queryString;
    });

    $('#refresh').click(function() {
        $('.spinner').show();
    });

    function formatCurrency(value) {
        value = value * rate;
        return value.toLocaleString('{{ currentSite.language }}', {
            style: 'currency',
            currency: currency,
            minimumFractionDigits: (value == parseInt(value) ? 0 : 2),
        });
    }

    $('#total').text(formatCurrency(parseFloat($('#total').attr('data-value'))));

    {% if netAmount %}
        $('#plugin-sales').DataTable({
            data: {{ craft.pluginSales.reports.getSalesData(start, end)|raw }},
            order: [[ 6, 'desc' ]],
            deferRender: true,
            responsive: true,
            language: {
                lengthMenu: '_MENU_ sales displayed',
                search: '',
                info: '_START_-_END_ of _TOTAL_ sales',
            },
        });

        $('#plugin-sales_wrapper select').wrap('<div class="select"></div>');

        $('#plugin-sales_filter input').addClass('text fullwidth')
            .attr('autocomplete', 'off')
            .attr('placeholder', 'Search')
            .wrap('<div class="flex-grow texticon search icon clearable"></div>');

        $('#plugin-sales_wrapper').prepend('<div class="toolbar"></div>');

        $('#plugin-sales_length').appendTo('#plugin-sales_wrapper .toolbar');
        $('#plugin-sales_filter').appendTo('#plugin-sales_wrapper .toolbar');
    {% endif %}

{% endjs %}
