{% import "_includes/forms" as forms %}


{{ forms.autosuggestField({
    label: "Craft ID Email"|t('plugin-sales'),
    name: 'email',
    suggestEnvVars: true,
    value: settings.email,
    errors: settings.getErrors('email'),
    required: true,
    first: true,
}) }}

{{ forms.autosuggestField({
    label: "Craft ID Password"|t('plugin-sales'),
    name: 'password',
    suggestEnvVars: true,
    value: settings.password,
    errors: settings.getErrors('password'),
    required: true,
}) }}
