/* This ensures that things remain responsive */
#content-container {
    max-width: 100%;
}

.chart {
    margin: 25px 0;
}

#footer {
    margin: 1px;
    position: initial;
}

.icon svg {
    display: inline;
    margin-left: 4px;
    vertical-align: sub;
    height: 14px;
    width: 14px;
}

.icon svg path {
    fill: #7f8a96;
}

.daterangepicker table:not(.data) th:not(:last-child),
.daterangepicker table:not(.data) td:not(:last-child) {
    padding-right: 0;
}

.daterangepicker table:not(.data) th:not(:first-child),
.daterangepicker table:not(.data) td:not(:first-child) {
    padding-left: 0;
}
