.chart {
    margin: 25px 0;
}

.toolbar {
    display: flex;
}

#plugin-sales_filter {
    flex-grow: 1;
    margin-left: 20px;
}

table:not(.data) th, table:not(.data) td {
    padding-left: 12px !important;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    border-bottom-color: rgba(96, 125, 159, 0.25) !important;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top-color: rgba(96, 125, 159, 0.25) !important;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #7b8793 !important;
}

#plugin-sales_wrapper .dataTables_paginate .paginate_button {
    color: #7b8793 !important;
}

.dataTables_wrapper .dataTables_length {
    float: none !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px !important;
}
