.chart {
    margin: 25px 0;
}

.toolbar {
    display: flex;
}

.daterangepicker table:not(.data) th:not(:last-child),
.daterangepicker table:not(.data) td:not(:last-child) {
    padding-right: 0;
}

.daterangepicker table:not(.data) th:not(:first-child),
.daterangepicker table:not(.data) td:not(:first-child) {
    padding-left: 0px;
}

#plugin-sales_filter {
    flex-grow: 1;
    margin-left: 20px;
}

.dataTables_wrapper table:not(.data) th,
.dataTables_wrapper table:not(.data) td {
    padding-left: 12px !important;
}

.dataTables_wrapper table.dataTable thead th,
.dataTables_wrapper table.dataTable thead td,
.dataTables_wrapper table.dataTable.no-footer {
    border-bottom-color: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper table.dataTable.row-border tbody th,
.dataTables_wrapper table.dataTable.row-border tbody td,
.dataTables_wrapper table.dataTable.display tbody th,
.dataTables_wrapper table.dataTable.display tbody td {
    border-top-color: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper table.dataTable.stripe tbody tr.odd,
.dataTables_wrapper table.dataTable.display tbody tr.odd {
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    color: #7b8793 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #7b8793 !important;
}

.dataTables_wrapper .dataTables_length {
    float: none !important;
}

.dataTables_wrapper .dataTables_filter {
    float: none !important;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 0 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: rgba(96, 125, 159, 0.25) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: rgba(96, 125, 159, 0.25) !important;
    background: #f3f7fc !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-radius: 5px !important;
}
