{% set monthlyPluginTotals = craft.pluginSales.reports.getMonthlyPluginTotals(start, end) %}
{% set monthlyLicenseRenewalTotals = craft.pluginSales.reports.getMonthlyLicenseRenewalTotals(start, end) %}

<div id="chart-plugins" class="chart"></div>
<div id="chart-license-renewals" class="chart"></div>


{% js %}

    var options = {
        colors: palette,
        chart: {
            width: '100%',
            height: 400,
            type: 'bar',
            stacked: true,
        },
        tooltip: {
            y: {
                formatter: (value) => formatCurrency(value),
            },
        },
        dataLabels: {
            enabled: false
        },
        grid: {
            row: {
                colors: ['#f3f3f3', 'transparent'],
                opacity: 0.5
            },
        },
        xaxis: {
            categories: {{ months|json_encode|raw }},
            labels: {
                format: 'MMM yyyy',
                style: {
                    colors: '#888',
                },
            }
        },
        yaxis: {
            title: {
                text: "USD"
            },
            labels: {
                style: {
                    colors: '#888',
                },
                formatter: function(value) {
                    return value.toLocaleString('{{ currentSite.language }}');
                },
            }
        },
        legend: {
            position: 'top',
        },
    };

    options.title = {
        text: 'Plugin Sales',
    };
    options.series = [
        {% for key, values in monthlyPluginTotals %}
            {
                name: '{{ key }}',
                data: {{ values|json_encode|raw }},
            },
        {% endfor %}
    ];
    var chart = new ApexCharts(document.querySelector("#chart-plugins"), options);
    chart.render();

    options.title = {
        text: 'Licenses vs. Renewals',
    };
    options.series = [
        {% for key, values in monthlyLicenseRenewalTotals %}
            {
                name: '{{ key|capitalize }}',
                data: {{ values|json_encode|raw }},
            },
        {% endfor %}
    ];
    var chart = new ApexCharts(document.querySelector("#chart-license-renewals"), options);
    chart.render();

{% endjs %}
